@use '@angular/material' as mat;

@include mat.core();

$light-green-palette: (
    50 : #e0f8f2,
    100 : #b3efde,
    200 : #80e4c8,
    300 : #4dd9b2,
    400 : #26d0a2,
    500 : #00c891,
    600 : #00c289,
    700 : #00bb7e,
    800 : #00b474,
    900 : #00a762,
    A100 : #d1ffe9,
    A200 : #9effd1,
    A400 : #6bffb9,
    A700 : #52ffad,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$red-palette: (
    50 : #fae0e6,
    100 : #f2b3c0,
    200 : #e98097,
    300 : #e04d6d,
    400 : #da264d,
    500 : #d3002e,
    600 : #ce0029,
    700 : #c80023,
    800 : #c2001d,
    900 : #b70012,
    A100 : #ffe0e2,
    A200 : #ffadb1,
    A400 : #ff7a80,
    A700 : #ff6168,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$light-blue-palette: (
  50 : #e0f3fa,
  100 : #b3e0f2,
  200 : #80cbe9,
  300 : #4db6e0,
  400 : #26a7da,
  500 : #0097d3,
  600 : #008fce,
  700 : #0084c8,
  800 : #007ac2,
  900 : #0069b7,
  A100 : #e0f0ff,
  A200 : #add7ff,
  A400 : #7abeff,
  A700 : #61b2ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$primary-light: mat.define-palette($light-green-palette, 500);
$accent-light: mat.define-palette($red-palette, 500);

$primary-dark: mat.define-palette($red-palette, 500);
$accent-dark: mat.define-palette($light-green-palette, 500);

$warn: mat.define-palette($light-blue-palette, 500);

$my-theme-light: mat.define-light-theme((
  color: (
    primary: $primary-light,
    accent: $accent-light,
    warn: $warn,
  ),
  density: 0
));

$my-theme-dark: mat.define-dark-theme((
  color: (
    primary: $primary-dark,
    accent: $accent-dark,
    warn: $warn,
  ),
  density: 0
));





@include mat.all-component-themes($my-theme-light);

.dark-mode{
  @include mat.all-component-themes($my-theme-dark);
}

